@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Montserrat:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .cabecalho {
    background-color: #f2637e;
}

body {
    background-color: #eff6f5;
    font-family: "montserrat";
}

header li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    all: unset; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    background-color: #f2637e;
    color: #fff;
}

button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.wp-block-search__input {
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 10px;
    font-size: 16px;
    height: 2rem;
    transition: border-color 0.3s ease;
}

.wp-block-search__input:focus {
    outline: none;
    border-color: #e76f81;
    box-shadow: 0 0 5px rgba(231, 111, 129, 0.5);
}

.wp-block-search__button {
    display: flex;
    align-items: center;
    background-color: #e76f81;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 0.75rem;
}


.search-icon {
    /* estilos para o ícone de pesquisa */
}

.wp-block-search__button:hover {
    background-color: #d35465; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}


@media (max-width: 605px) {
    .nav-menu {
        width: 90%;
    }

}
